[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ade4TkGUI"]
	path = ade4TkGUI
	url = https://github.com/adeverse/ade4tkgui
[submodule "adephylo"]
	path = adephylo
	url = https://github.com/adeverse/adephylo
